// 溢出隐藏省略号的父类
.overflowHiddenEllipsisParent
  overflow hidden
  text-overflow ellipsis
  -webkit-box-orient vertical
  display -webkit-box
// 多行超出省略号 $line-height是行高，$lines是想溢出多少行隐藏
overflowHiddenEllipsisLines($line-height, $lines)
  @extend .overflowHiddenEllipsisParent
  line-height unit($line-height, 'px')
  max-height unit($line-height * $lines, 'px')
  -webkit-line-clamp $lines

.normalBgImageStyle
  background-repeat no-repeat
  background-position center center
  background-size cover
// 常用背景图片设置
backgroundImage($url)
  @extend .normalBgImageStyle
  background-image url($url)
