 // 定义颜色规范
$color-header = #333333
$color-background = #f6f6f6
$color-text = #000000
$color-title = #808080
$color-white = #ffffff


// 字体设置
$color-text-size = 16px
$color-title-size = 13px
$color-title-font-family = 'Courier New'
